.cardContainer {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 100%;
  display: flex;
  flex: 1;
  height: 140px;
  min-height: 140px;
  max-height: 180px;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.4);
  position: relative;
}

.border {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4px; 
  box-sizing: border-box; 
  display: flex; /* Faz o .card respeitar o padding automaticamente */
  animation: ponhonhoim 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 0;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 1);
  
}

.card {
  z-index: 1; /* Fica acima do .bg */
  border-radius: 6px;
  width: 100%; /* Agora o 100% respeita o padding do .border */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.value {
  position: absolute;
  right: 8px;
  top: -2px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 30px;
  width: 24px;
  z-index: 2;
  
}

.title {
  background: black;
  opacity: 0.9;
  color: white;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-radius: 0px 0 6px 6px;
  width: calc(100% + 4px); /* Aumenta a largura para compensar a borda de 2px de cada lado */
  margin-bottom: -2px;     /* Empurra para baixo para cobrir a borda inferior */
  margin-left: -2px;       /* Alinha à esquerda sobre a borda */
  margin-right: -2px;      /* Alinha à direita sobre a borda */
  z-index: 2;

}


@keyframes ponhonhoim {
  0% {
    opacity: 0;
    transform: scale(0.1); /* Começa bem pequenininho */
  }
  50% {
    transform: scale(1.4); /* Dá aquela "inchada" elástica */
  }
  75% {
    opacity: 1;
    transform: scale(1);   /* Para no tamanho real */
  }
    90% {
    opacity: 1;
    transform: scale(1.1);   /* Para no tamanho real */
  }
    100% {
    opacity: 1;
    transform: scale(1);   /* Para no tamanho real */
  }
}