.app {
  height: 100dvh;
  width:100%;
  max-width: 800px;
  margin: 0 auto;
  background: rgb(1, 1, 12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
background-image: url("https://img.freepik.com/vetores-gratis/uma-paisagem-de-caverna-escura_1308-16279.jpg");
}
