.heroContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 26px;
}

.heroCard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.left {
  padding-top: 26px;
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  transform: rotate(-20deg);
}

.right {
  padding-top: 26px;
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  transform: rotate(20deg);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 26px;
}