.heroContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding: 26px 0;
}

.heroCard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.left {
  padding-top: 26px;
  max-width: 200px;
}

.right {
  padding-top: 26px;
  max-width: 200px;

}

.hero {
  display: flex;
  flex-direction: column;
  gap: 26px;
}